[submodule "vendor/cookbooks/apt"]
	path = vendor/cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "vendor/cookbooks/nginx"]
	path = vendor/cookbooks/nginx
	url = git@github.com:opscode-cookbooks/nginx.git
[submodule "vendor/cookbooks/ohai"]
	path = vendor/cookbooks/ohai
	url = git@github.com:opscode-cookbooks/ohai.git
[submodule "vendor/cookbooks/yum"]
	path = vendor/cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
[submodule "vendor/cookbooks/build-essential"]
	path = vendor/cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "vendor/cookbooks/apache2"]
	path = vendor/cookbooks/apache2
	url = git@github.com:opscode-cookbooks/apache2.git
[submodule "vendor/cookbooks/passenger_apache2"]
	path = vendor/cookbooks/passenger_apache2
	url = git@github.com:opscode-cookbooks/passenger_apache2.git
